/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body{
    background: rgb(205, 205, 205);
}

* {
  box-sizing:border-box;
}

.my-custom-button {
  display: flex;
  height: 50px;
  padding: 0;
  background: #f8f9fa;
  border-color: #dee2e6;
  outline: none;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  border: 1px solid #dee2e6;
}

.my-custom-button:hover {
  background: #e9ecef;
  transition: 0.3s;
}

/* might want to add a fade delay like bootstrap*/
.button__text {
  border-radius: 0px;
  border-right: 1px solid #dee2e6;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  height: 100%;
  text-align: center;
}

.button__fileName {
  border-radius: 0px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  /* padding: 0 15px; */
  height: 100%;
  width: 100%; /*calc(100% - 30px);*/
}

/* .my-custom-button:active {
  background: #B8B8B8
} */